/* About Page specific Styling */

/* ABOUT Main section */

.about-container {
  height: auto;
  width: 100%;
  border: 2px solid black;
  background-color: bisque;
  display: flex;
  flex-direction: row;
}

.div-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.about-acticle-left {
  width: 50%;
  height: auto;
  padding: 1.5em;
}

.about-acticle-right {
  width: 50%;
  height: auto;
  padding: 1.5em;
}
