* {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* MAIN ELEMENT */

main {
    margin: 1em 1em 2em;
}

body {
    background-color: rgb(96, 113, 150);
}

footer {
    background-color: rgb(213, 215, 222);
    height: 8rem;
}

header {
    background-color: rgb(186, 191, 209);
    width: 100%;
    height: 10vh;
}


/* HEADER */
.main-frame-header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}

.main-frame-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-left: 0px;
    padding-right: 1em;
    flex-direction: row;
    align-items: center;
}

.main-nav-header-list {
    display: flex;
    gap: 1rem;
    list-style: none;
}


.header-nav-links {
    text-decoration: none;
    color: rgb(72, 113, 150);
}

.header-nav-links:hover {
    text-decoration: none;
    color: rgb(189, 69, 75);
}

.header-nav-links:focus {
    text-decoration: none;
    color: rgb(189, 69, 75);
}

.list-item-nav {
    display: none;
    align-items: flex-end;
}

.header-nav-links:active {
    color: rgb(189, 69, 75);
}

/* Dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: rgb(72, 113, 150);
    color: white;
    height: 2em;
    width: 4.5vh;
    border: none;
    cursor: pointer;
    font-size: x-large;
}

.dropdown-content {
    display: none;
    justify-content: flex-end;
    background-color: rgb(72, 113, 150);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: rgb(72, 113, 150);
    background-color: rgb(186, 191, 209);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size:medium;
}

.dropdown-content > .active-nav-link {
    color: rgb(189, 69, 75);
}

.dropdown-content a:hover {
    color: rgb(189, 69, 75);
}

.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 10.5vh;
}

/* Main section CSS */

.div-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.project-container {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 25px;
}

.intro-top {
    display: grid;
    grid-row: 1 / 2;
    grid-column-start: 2;
    grid-column-end: 7;
    border: 2px solid black;
    height: auto;
    padding: 1em;
    background-color:whitesmoke;
}

.highlights {
    display: grid;
    grid-row: 2 / 3;
    grid-column-start: 2;
    grid-column-end: 7;
    border: 2px solid black;
    height: auto;
    padding: 1em;
    background-color:white
}

.skills {
    display: grid;
    grid-row: 3 / 4;
    grid-column-start: 2;
    grid-column-end: 7;
    border: 2px solid black;
    height: auto;
    padding: 1em;
    background-color:white;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work-life-experience {
    display: grid;
    grid-row: 5 / auto;
    grid-column-start: 2;
    grid-column-end: 7;
    border: 2px solid black;
    height: auto;
    padding: 1em;
    background-color:blanchedalmond;
}

.education-background {
    display: grid;
    grid-row: 6 / auto;
    grid-column-start: 2;
    grid-column-end: 7;
    border: 2px solid black;
    height: auto;
    padding: 1em;
    background-color: antiquewhite;
} 

.school-1 {
    display: grid;
    grid-row: 7 / auto;
    grid-column-start: 2;
    grid-column-end: 4;
    border: 2px solid black;
    height: auto;
    padding: 1em;
    margin-left: 0px;
    background-color: antiquewhite;
}

.school-2 {
    display: grid;
    grid-row: 7 / auto;
    grid-column-start: 4;
    grid-column-end: 7;
    border: 2px solid black;
    height: auto;
    padding: 1em;
    background-color: antiquewhite;
} 

/* Text styles */

.slogan-text{
color: brown;
text-align: center;
}

.name-title {
    font-weight: bold;
    text-align: center;
    font-size: x-large;
    padding: 0.5em;
}

.school-1, .school-2, .education-background, .work-life-experience > h2, h3 {
    font-size: bold;
    padding-bottom: 0.5em;
}

.highlights > h2 {
    padding-bottom: 0.5em;
}

/* Skills styling */

.skills > h2 {
    padding-bottom: 0.5em;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    gap: 4px;
}

.btn-look-bd {
    border-radius: 15px;
    border: 2px solid black;
    background-color: black;
    color: whitesmoke;
    width: auto;
    padding: 5px 10px 5px 10px;
    height: auto;
    text-align: center;
}

.btn-look-am {
    border-radius: 15px;
    border: 2px solid black;
    background-color: black;
    color: whitesmoke;
    width: auto;
    padding: 5px 10px 5px 10px;
    height: auto;
    text-align: center;
}
.btn-look-rm {
    border-radius: 15px;
    border: 2px solid black;
    background-color: black;
    color: whitesmoke;
    width: auto;
    padding: 5px 10px 5px 10px;
    height: auto;
    text-align: center;
}
.btn-look-pr {
    border-radius: 15px;
    border: 2px solid black;
    background-color: black;
    color: whitesmoke;
    width: auto;
    padding: 5px 10px 5px 10px;
    height: auto;
    text-align: center;
}

.btn-look-neg {
    border-radius: 15px;
    border: 2px solid black;
    background-color: black;
    color: whitesmoke;
    width: auto;
    padding: 5px 10px 5px 10px;
    height: auto;
    text-align: center;
}

.btn-look-crm {
    border-radius: 15px;
    border: 2px solid black;
    background-color: black;
    color: whitesmoke;
    width: auto;
    padding: 5px 10px 5px 10px;
    height: auto;
    text-align: center;
}

.btn-look-bsm {
    border-radius: 15px;
    border: 2px solid black;
    background-color: black;
    color: whitesmoke;
    width: auto;
    padding: 5px 10px 5px 10px;
    height: auto;
    text-align: center;
}

.btn-look-mplc {
    border-radius: 15px;
    border: 2px solid black;
    background-color: black;
    color: whitesmoke;
    width: auto;
    padding: 5px 10px 5px 10px;
    height: auto;
    text-align: center;
}

.btn-look-iot {
    border-radius: 15px;
    border: 2px solid black;
    background-color: black;
    color: whitesmoke;
    width: auto;
    padding: 5px 10px 5px 10px;
    height: auto;
    text-align: center;
}

.btn-look-sf {
    border-radius: 15px;
    border: 2px solid black;
    background-color: black;
    color: whitesmoke;
    width: auto;
    padding: 5px 10px 5px 10px;
    height: auto;
    text-align: center;
}

.btn-look-ta {
    border-radius: 15px;
    border: 2px solid black;
    background-color: black;
    color: whitesmoke;
    width: auto;
    padding: 5px 10px 5px 10px;
    height: auto;
    text-align: center;
}

.btn-look-sa {
    border-radius: 15px;
    border: 2px solid black;
    background-color: black;
    color: whitesmoke;
    width: auto;
    padding: 5px 10px 5px 10px;
    height: auto;
    text-align: center;
}

.btn-look-tr {
    border-radius: 15px;
    border: 2px solid black;
    background-color: black;
    color: whitesmoke;
    width: auto;
    padding: 5px 10px 5px 10px;
    height: auto;
    text-align: center;
}

.btn-look-sus {
    border-radius: 15px;
    border: 2px solid black;
    background-color: black;
    color: whitesmoke;
    width: auto;
    padding: 5px 10px 5px 10px;
    height: auto;
    text-align: center;
}

/* FOOTER CSS */

.footer-frame {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.footer-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footer-frame > p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgb(96, 113, 150);
    padding: 15px;
    font-weight: bold;
}

.footer-items {
    display: flex;
    gap:4em;
    align-items: center;
    height: 6vh;
    align-self: center;
}

.fa-icons {
    color: rgb(117, 121, 137);
}

.fa-icons:hover {
    color: rgb(189, 69, 75);
}

.active {
    color: brown;
}

@media (min-width:570px) {
    .main-frame-nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }


    main {
        margin: 1.5em 1em 2em;
    }

    .list-item-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropbtn {
        display: none;
    }
    
    .active-nav-link {
        color: rgb(189, 69, 75);
    }
}



@media (min-width: 670px){
    main {
        margin: 1.5em 1em 2em;
        }
    .main-frame-header {
        background-color: rgb(186, 191, 209);
        color: rgb(72, 113, 150);
        font-size: x-large;
    }

   
}

@media (max-width:953px) {
    .school-2 {
        display: grid;
        grid-row: 8 / auto;
        grid-column-start: 2;
        grid-column-end: 7;
        border: 2px solid black;
        height: auto;
        padding: 1em;
        background-color: antiquewhite;
    } 

    .school-1 {
        display: grid;
        grid-row: 7 / auto;
        grid-column-start: 2;
        grid-column-end: 7;
        border: 2px solid black;
        height: auto;
        padding: 1em;
        margin-left: 0px;
        background-color: antiquewhite;
    }


}

@media (min-width: 1250px) {
    body {
        display: flex;
        flex-direction: column;
    }
    main {
        width: 1250px;
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .main-frame-header {
        background-color: rgb(186, 191, 209);
        color: rgb(72, 113, 150);
        font-size: xx-large;
    }

    .main-nav-header-list {
        gap: 2rem;
    }

}




