/* FOOTER CSS */

.footer-frame {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.footer-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer-frame > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: rgb(96, 113, 150);
  padding: 15px;
  font-weight: bold;
}

.footer-items {
  display: flex;
  gap: 4em;
  align-items: center;
  height: 6vh;
  align-self: center;
}

.fa-icons {
  color: rgb(117, 121, 137);
}

.fa-icons:hover {
  color: rgb(189, 69, 75);
}

.active {
  color: brown;
}

/* FOOTER CSS */

.footer-frame {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.footer-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer-frame > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: rgb(96, 113, 150);
  padding: 15px;
  font-weight: bold;
}

.footer-items {
  display: flex;
  gap: 4em;
  align-items: center;
  height: 6vh;
  align-self: center;
}

.fa-icons {
  color: rgb(117, 121, 137);
}

.fa-icons:hover {
  color: rgb(189, 69, 75);
}

.active {
  color: brown;
}

/* FOOTER CSS */

.footer-frame {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.footer-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer-frame > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: rgb(96, 113, 150);
  padding: 15px;
  font-weight: bold;
}

.footer-items {
  display: flex;
  gap: 4em;
  align-items: center;
  height: 6vh;
  align-self: center;
}

.fa-icons {
  color: rgb(117, 121, 137);
}

.fa-icons:hover {
  color: rgb(189, 69, 75);
}

.active {
  color: brown;
}

/* FOOTER CSS */

.footer-frame {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.footer-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer-frame > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: rgb(96, 113, 150);
  padding: 15px;
  font-weight: bold;
}

.footer-items {
  display: flex;
  gap: 4em;
  align-items: center;
  height: 6vh;
  align-self: center;
}

.fa-icons {
  color: rgb(117, 121, 137);
}

.fa-icons:hover {
  color: rgb(189, 69, 75);
}

.active {
  color: brown;
}
